@import '~antd/es/style/themes/default.less';

// new styles, i.e. not overriding existing ones

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-flex-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  // replace default antd styles

  // override the auto marginning of the image, so that the result component is vertically centered.
  .ant-result-image {
    margin: 0 auto 24px;
  }
  @global-header-prefix-cls: ~'@{ant-prefix}-layout-header';
  @nav-header-height: 48px;
  @header-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .@{global-header-prefix-cls} {
    height: @nav-header-height;
    padding: 0 16px;
    // background: #141414;
    z-index: 2;

    // only show in light mode
    &-light {
      background: @layout-sider-background-light;
      box-shadow: @header-box-shadow;
    }
  }

  // defaults:

  html,
  body,
  #root {
    height: 100%;
  }

  .ant-layout {
    min-height: 100vh;
  }

  .ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
    left: unset;
  }

  canvas {
    display: block;
  }

  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul,
  ol {
    list-style: none;
  }

  @media (max-width: @screen-xs) {
    .ant-table {
      width: 100%;
      overflow-x: auto;
      &-thead > tr,
      &-tbody > tr {
        > th,
        > td {
          white-space: pre;
          > span {
            display: block;
          }
        }
      }
    }
  }

  // Compatible with IE11
  @media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
    body .ant-design-pro > .ant-layout {
      min-height: 100vh;
    }
  }
}
