server/HELP.md
/server/target/
!server/.mvn/wrapper/maven-wrapper.jar
!server/**/src/main/**/target/
!server/**/src/test/**/target/
server/mvnw
server/mvnw.cmd
server/.mvn

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr

### NetBeans ###
/server/nbproject/private/
/server/nbbuild/
/server/dist/
/server/nbdist/
/server/.nb-gradle/
/serverbuild/
!server/**/src/main/**/build/
!server/**/src/test/**/build/

### VS Code ###
.vscode/

/client/public/color.less
